.container {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 0px;
  background-color: #021626;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid white;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
}

.sidebar li {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 0;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: white;
  color: #021626;
}

.main {
  width: 80%;
}

body {
  background-color: #021626;
}

.title {
  color: white;
  position: relative;
  padding-bottom: 10px;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  border-bottom: 1px solid white;
}

.border {
  padding-top: 0px;
  border-bottom: 1px solid white;
}

.bottom-border {
  position: absolute;
  bottom: 300px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: white;
}

.map {
  height: 100%;
  width: 100%;
}

.gauge-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 200px;
  /* margin-top: 20px; */
  padding-left: 60px;
  /* padding-right: 50px; */
}

.gauge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.gauge-wrapper h3 {
  font-size: 16px;

}





.gauge-wrapper h3 {
  position: relative;
  /* top: -20px; */
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;

}

/* #gauge-chart1 {
  width: 200px;
  height: 150px;
  transform: scale(0.5);
  padding-left: 350px;
}

#gauge-chart2 {
  width: 200px;
  height: 150px;
  transform: scale(0.5);
  padding-right: 150px;
} */

#gauge-chart1,
#gauge-chart2,
#gauge-chart3 {
  width: 200px;
  height: 150px;
  transform: scale(0.5);
}




.status-labels {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.status-label {
  margin-right: 20px;
}

.status-label span {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.status-label span img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.green-label {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.orange-label {
  background-color: orange;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.red-label {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
